@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body{
    font-family: 'Assistant', sans-serif;
    background-color: rgb(161, 100, 223);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.btn {
    background-color: rebeccapurple;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: 'Assistant', sans-serif;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
}